/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
background-color: #7A3E48;
color: #EECD86;
font-size: 1em;
line-height: 1.4;
}
p {color: #E18942;}




/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

/* type hierarchy- change for your project */


/* =======================================
    author styles
    place your custom styles below here
========================================== */

.pic {display: inline;
    float: left;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px;
width:200px;
    height:610px}

   .boxed {
       display:inline;
       position:relative;
       float: left;
    width: 500px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px;
}

.boxthree {
display:inline;
position: relative;
float:left;
width: 400px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; }


.exercise {
    display:inline;
    position: relative;
float:left;
width: 575px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; }
    
.steals {
display:inline;
    position: relative;
float: left;
width: 500px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 10px; }
    

.clothes {
    
float:left;
width: 575px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; }

.ImageBorder
{
    border-width: 1px;
    border-color: Black;
   height: 200px;
}


.theleast
{
    float: left;
    width: 500px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; }
}


    
.middle {
    float:left;
width: 550px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; }

.end
{
float:left;
width: 550px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; }
}












/* =======================================
    helper classes
    keep this at the bottom
========================================== */

/*
 * Clearfix: contain floats
 *
 * from HTML5 Boilerplate
 * shttps://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}