

/* set the default color, font-size, and line height */
body {
background-image: url('symphony/symphony.png');
color: #FF3399;
font-size: 1em;
line-height: 1.4;
}
p {color: #E18942;
margin: 0; }

h1 {
     font-family: 'Pacifico', sans-serif; 
text-align: center;}

h2 {
font-family: 'Pacifico', sans-serif; 
    text-align: center;
}


.first {text-align: center;}
h3 {text-align: center;}

.nextup {text-align: center;
    color: #E68A2E;

}

.img { text-align: center;}





/* type hierarchy- change for your project */


/* =======================================
    author styles
    place your custom styles below here
========================================== */

.container {
     width: 1060px;
    height: 700px;
    padding: 1px;
    border: 5px solid purple;
    background-color: beige;
  margin:4px 50px 10px;}

.words {
    word-spacing: inherit;
}

img {width:250px;
    height:200px;
    padding:2px; }


.special {display: inline;
    float: left;
    padding: 18px;
    border: 5px solid #3D3242;
    margin: 6px;
width:240px;
background-color: beige;
}
    
    

   .boxed {
       display:inline;
       position:relative;
       float: left;
    width: 390px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px;
       background-color: beige;
}

.boxthree {
display:inline;
position: relative;
float:left;
width: 305px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 20px; 
background-color: beige;}


.exercise {
    display:inline;
    position: relative;
float:left;
width: 500px;
    height: 600px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 10px; 
background-color: beige;}
    
.steals {
display:inline;
    position: relative;
float: left;
width: 500px;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 10px; 
background-color: beige;}
    

.clothes {
    
float:right;
width: 515px;
    height: 855px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 10px; 
background-color: beige;}




.theleast
{
    float: left;
    width: 500px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 10px; 
background-color: beige;}

.now {
float: left;
    width: 500px;
    
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 5px; 
background-color: beige;}


    
.middle {
    float:left;
width: 300px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; 
background-color: beige;}

.end
{
float:left;
width: 550px;
    position: relative;
    padding: 15px;
    border: 5px solid #3D3242;
    margin: 6px; 
background-color: beige;}













/* =======================================
    helper classes
    keep this at the bottom
========================================== */

/*
 * Clearfix: contain floats
 *
 * from HTML5 Boilerplate
 * shttps://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}